In [1]:
import pandas as pd

In [2]:
virat_df = pd.read_csv('final_virat_stat.csv')
virat_df.head()

,Unnamed: 0,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Match Type,Date,Player ID
0,1,12,33,22,1,0,54.54,2,lbw,1,Sri Lanka,Dambulla,ODI,18-08-2008,2
1,2,37,82,67,6,0,55.22,2,caught,2,Sri Lanka,Dambulla,ODI,20-08-2008,2
2,3,25,40,38,4,0,65.78,1,run out,1,Sri Lanka,Colombo (RPS),ODI,24-08-2008,2
3,4,54,87,66,7,0,81.81,1,bowled,1,Sri Lanka,Colombo (RPS),ODI,27-08-2008,2
4,5,31,45,46,3,1,67.39,1,lbw,2,Sri Lanka,Colombo (RPS),ODI,29-08-2008,2

In [3]:
opposition_list = list(virat_df["Opposition"].unique())

In [7]:
opp_list=[i.strip() for i in opposition_list ]

In [8]:
opp_list

['Sri Lanka',
 'Pakistan',
 'West Indies',
 'Australia',
 'Bangladesh',
 'South Africa',
 'Zimbabwe',
 'New Zealand',
 'England',
 'Ireland',
 'Netherlands',
 'Afghanistan',
 'U.A.E.',
 'Scotland',
 'Hong Kong']